<div>
    <main>
        <section>
            <div>
                {{> title data=name big=true}}
                <hr>
                <div>
                    Make:
                    <b>{{make}}</b>
                </div>
                <div>
                    Model:
                    <b>{{model}}</b>
                </div>
                <div>
                    Year:
                    <b>{{year}}</b>
                </div>
                <div>
                    Color:
                    <b>{{color}}</b>
                </div>
                <div>
                    Features:
                </div>
                <div>
                    {{#with features}}
                    <ul>
                        <li>
                            <div>Interior:</div>
                            <div>
                                {{#with interior}}
                                <ul>
                                    <li>
                                        <div>Seats:</div>
                                        <div>
                                            {{#with seats}}
                                            <ul>
                                                <li>
                                                    <div>
                                                        Material:
                                                        <b>{{material}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Color:
                                                        <b>{{color}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Heated:
                                                        <b>{{heated}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Ventilated:
                                                        <b>{{ventilated}}</b>
                                                    </div>
                                                </li>
                                            </ul>
                                            {{/with}}
                                            <br>
                                        </div>
                                    </li>
                                    <li>
                                        <div>Dashboard:</div>
                                        <div>
                                            {{#with dashboard}}
                                            <ul>
                                                <li>
                                                    <div>
                                                        Material:
                                                        <b>{{material}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Color:
                                                        <b>{{color}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>Display:</div>
                                                    <div>
                                                        {{#with display}}
                                                        <ul>
                                                            <li>
                                                                <div>
                                                                    Type:
                                                                    <b>{{type}}</b>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div>
                                                                    Size:
                                                                    <b>{{size}}</b>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div>
                                                                    Resolution:
                                                                    <b>{{resolution}}</b>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div>
                                                                    Touchscreen:
                                                                    <b>{{touchscreen}}</b>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        {{/with}}
                                                    </div>
                                                </li>
                                            </ul>
                                            {{/with}}
                                            <br>
                                        </div>
                                    </li>
                                    <li>
                                        <div>Audio:</div>
                                        <div>
                                            {{#with audio}}
                                            <ul>
                                                <li>
                                                    <div>
                                                        System:
                                                        <b>{{system}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Speakers:
                                                        <b>{{speakers}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Subwoofer:
                                                        <b>{{subwoofer}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Bluetooth:
                                                        <b>{{bluetooth}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        USB:
                                                        <b>{{USB}}</b>
                                                    </div>
                                                </li>
                                            </ul>
                                            {{/with}}
                                            <br>
                                        </div>
                                    </li>
                                </ul>
                                {{/with}}
                            </div>
                        </li>
                        <li>
                            <div>Exterior:</div>
                            <div>
                                {{#with exterior}}
                                <ul>
                                    <li>
                                        <div>Wheels:</div>
                                        <div>
                                            {{#with wheels}}
                                            <ul>
                                                <li>
                                                    <div>
                                                        Size:
                                                        <b>{{size}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Type:
                                                        <b>{{type}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Color:
                                                        <b>{{color}}</b>
                                                    </div>
                                                </li>
                                            </ul>
                                            {{/with}}
                                            <br>
                                        </div>
                                    </li>
                                    <li>
                                        <div>Headlights:</div>
                                        <div>
                                            {{#with headlights}}
                                            <ul>
                                                <li>
                                                    <div>
                                                        Type:
                                                        <b>{{type}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Brightness:
                                                        <b>{{brightness}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Automatic:
                                                        <b>{{automatic}}</b>
                                                    </div>
                                                </li>
                                            </ul>
                                            {{/with}}
                                            <br>
                                        </div>
                                    </li>
                                    <li>
                                        <div>Sunroof:</div>
                                        <div>
                                            {{#with sunroof}}
                                            <ul>
                                                <li>
                                                    <div>
                                                        Type:
                                                        <b>{{type}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Size:
                                                        <b>{{size}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Automatic:
                                                        <b>{{automatic}}</b>
                                                    </div>
                                                </li>
                                            </ul>
                                            {{/with}}
                                            <br>
                                        </div>
                                    </li>
                                </ul>
                                {{/with}}
                            </div>
                        </li>
                        <li>
                            <div>Safety:</div>
                            <div>
                                {{#with safety}}
                                <ul>
                                    <li>
                                        <div>Airbags:</div>
                                        <div>
                                            {{#with airbags}}
                                            <ul>
                                                <li>
                                                    <div>
                                                        Front:
                                                        <b>{{front}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Side:
                                                        <b>{{side}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Knee:
                                                        <b>{{knee}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Rear:
                                                        <b>{{rear}}</b>
                                                    </div>
                                                </li>
                                            </ul>
                                            {{/with}}
                                            <br>
                                        </div>
                                    </li>
                                    <li>
                                        <div>Assistance:</div>
                                        <div>
                                            {{#with assistance}}
                                            <ul>
                                                <li>
                                                    <div>
                                                        Blind spot monitoring:
                                                        <b>{{blind_spot_monitoring}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Rear cross traffic alert:
                                                        <b>{{rear_cross_traffic_alert}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Lane departure warning:
                                                        <b>{{lane_departure_warning}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Adaptive cruise control:
                                                        <b>{{adaptive_cruise_control}}</b>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        Collision warning:
                                                        <b>{{collision_warning}}</b>
                                                    </div>
                                                </li>
                                            </ul>
                                            {{/with}}
                                            <br>
                                        </div>
                                    </li>
                                </ul>
                                {{/with}}
                            </div>
                        </li>
                    </ul>
                    {{/with}}
                </div>
                <div>
                    Engine:
                </div>
                <div>
                    {{#with engine}}
                    <ul>
                        <li>
                            <div>
                                Type:
                                <b>{{type}}</b>
                            </div>
                        </li>
                        <li>
                            <div>
                                Displacement:
                                <b>{{displacement}}</b>
                            </div>
                        </li>
                        <li>
                            <div>
                                Horsepower:
                                <b>{{horsepower}}</b>
                            </div>
                        </li>
                        <li>
                            <div>
                                Torque:
                                <b>{{torque}}</b>
                            </div>
                        </li>
                        <li>
                            <div>
                                Transmission:
                            </div>
                            <div>
                                {{#with transmission}}
                                <ul>
                                    <li>
                                        <div>
                                            Type:
                                            <b>{{type}}</b>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            Gears:
                                            <b>{{gears}}</b>
                                        </div>
                                    </li>
                                </ul>
                                {{/with}}
                                <br>
                            </div>
                        </li>
                    </ul>
                    {{/with}}
                </div>
                <div>
                    Fuel economy:
                </div>
                <div>
                    {{#with fuel_economy }}
                    <ul>
                        <li>
                            <div>
                                City:
                                <b>{{city}}</b>
                            </div>
                        </li>
                        <li>
                            <div>
                                Highway:
                                <b>{{highway}}</b>
                            </div>
                        </li>
                        <li>
                            <div>
                                Combined:
                                <b>{{combined}}</b>
                            </div>
                        </li>
                    </ul>
                    {{/with}}
                </div>
                <div>
                    Price:
                </div>
                <div>
                    {{#with price }}
                    <ul>
                        <li>
                            <div>
                                Base:
                                <b>{{base}}</b>
                            </div>
                        </li>
                        <li>
                            <div>
                                Destination:
                                <b>{{destination}}</b>
                            </div>
                        </li>
                        <li>
                            <div>
                                Options:
                            </div>
                            <div>
                                {{#with options}}
                                <ul>
                                    <li>
                                        <div>
                                            Navigation:
                                            <b>{{navigation}}</b>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            Moonroof:
                                            <b>{{moonroof}}</b>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            Premium paint:
                                            <b>{{premium_paint}}</b>
                                        </div>
                                    </li>
                                </ul>
                                {{/with}}
                                <br>
                            </div>
                        </li>
                        <li>
                            <div>
                                Total:
                                <b>{{total}}</b>
                            </div>
                        </li>
                    </ul>
                    {{/with}}
                </div>
        </section>
    </main>
</div>