<main class="mx-4">
    <header>
        <h1 class="my-5">{{header}}</h1>
    </header>

    <section>
        <div class="row">
            <div class="col-8">
                {{#with contacts_data}}
                <h3 class="my-4">{{title}}</h3>
                <div class="my-4">
                    {{#each buttons}}
                    {{#if isPrimary}}
                    <button class="btn btn-warning me-2">{{text}}</button>
                    {{/if}}
                    {{#if isOutline }}
                    <button class="btn btn-outline-warning">{{text}}</button>
                    {{/if}}
                    {{/each}}
                </div>
                {{#with form}}
                <div class="row g-3">
                    {{#with input}}
                    {{#with surname}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                    </div>
                    {{/with}}
                    {{#with name}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                    </div>
                    {{/with}}
                    {{#with phone}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                    </div>
                    {{/with}}
                    {{#with email}}
                    <div class="col-6">
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                    </div>
                    {{/with}}
                    {{/with}}
                </div>

                <hr class="my-4">

                <div class="col-12 my-4">
                    {{#each switch}}
                    {{#if isActive}}
                    <div class="form-check form-switch">
                        <label class="form-check-label">{{text}}</label>
                        <input type="checkbox" checked class="form-check-input">
                    </div>
                    {{else}}
                    <div class="form-check form-switch">
                        <label class="form-check-label">{{text}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/if}}
                    {{/each}}
                </div>

                <hr class="my-4">
                {{/with}}
                {{/with}}
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {{#each action_block}}
                        {{#if isSuccess }}
                        <button class="btn btn-success">{{text}}</button>
                        {{/if}}
                        {{#if isDanger }}
                        <button class="btn btn-danger my-2">{{text}}</button>
                        {{/if}}
                        {{#if isInfo }}
                        <button class="btn btn-info">{{text}}</button>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        {{#with total}}
                        <h5>{{title}}</h5>
                        {{#each item_list}}
                        <div>{{name}}: {{price}}</div>
                        {{/each}}
                        <hr class="my-3">
                        {{#each additional_info}}
                        <div>{{text}}: {{value}}</div>
                        {{/each}}
                        <hr class="my-3">
                        {{#with total_price}}
                        <div>{{text}}: {{value}}</div>
                        {{/with}}
                        <hr class="my-3">
                        {{#each button}}
                        {{#if isPrimary}}
                        <button class="btn btn-primary my-1 px-2">{{text}}</button>
                        {{/if}}
                        {{#if isOutline }}
                        <button class="btn btn-outline-primary my-1">{{text}}</button>
                        {{/if}}
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
            </div>
    </section>

</main>