<main class="mx-4">
    <header>
        <h1>{{header}}</h1>
    </header>

    <section class="mt-4">
        {{#with purchase}}
        <div class=" nav nav-tabs mb-4">
            {{#each tabs}}
            <div class="nav-item">
                {{#if @first}}
                <a href="#" class="nav-link active"><b>{{this}}</b></a>
                {{else}}
                <a href="#" class="nav-link">{{this}}</a>
                {{/if}}
            </div>
            {{/each}}
        </div>


        {{#with actionBlock}}
        <div class="row">
            <div class="col-4">
                <input class="form-control" placeholder="{{input.placeholder}}">
            </div>
            {{#each buttons}}
            {{#if isSuccess}}
            <div class="col-2 ms-0 pe-0">
                <a href="{{link}}" class="btn btn-success">{{text}}</a>
            </div>
            {{/if}}
            {{#if isOutline}}
            <div class="col-3 ms-0">
                <a href="{{link}}" class="btn btn-outline-success">{{text}}</a>
            </div>
            {{/if}}
            {{#if isDanger}}
            <div class="col-3 ms-0">
                <a href="{{link}}" class="btn btn-outline-danger">{{text}}</a>
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/with}}

        <div class="my-4">{{> sep}}</div>

        {{#each itemList}}

        {{> purchaseItem}}

        {{/each}}

        {{/with}}

        <div class="my-5">{{> sep}}</div>

        {{#with userInfo}}

        <h2 class="my-5">{{title}}</h2>

        {{#with profileData}}

        <div class="card">
            <div class="card-body">
                <h3>{{title}}</h3>
            </div>
        </div>

        {{/with}}

        {{#with recipients}}

        <div class="card">
            <div class="card-body">
                <h3>{{title}}</h3>
            </div>
        </div>

        {{/with}}

        {{#with contacts}}

        <div class="card">
            <div class="card-body">
                <h3>{{title}}</h3>
            </div>
        </div>

        {{/with}}


        {{/with}}
    </section>

</main>