<main class="mx-4">
    <header>
        <h1 class="my-5">{{header}}</h1>
    </header>

    <section>
        <div class="row">
            <div class="col-8 ">
                {{#with contacts_data}}

                {{> shopTitle}}

                <div class="my-4">
                    {{#each buttons}}
                    {{#if isPrimary}}
                    <button class="btn btn-warning me-2">{{text}}</button>
                    {{/if}}
                    {{#if isOutline }}
                    <button class="btn btn-outline-warning">{{text}}</button>
                    {{/if}}
                    {{/each}}
                </div>

                {{#with form}}
                <div class="row g-3">
                    {{#with input}}
                    {{#with surname}}
                    {{> formContactData}}
                    {{/with}}
                    {{#with name}}
                    {{> formContactData}}
                    {{/with}}
                    {{#with phone}}
                    {{> formContactData}}
                    {{/with}}
                    {{#with email}}
                    {{> formContactData}}
                    {{/with}}
                    {{/with}}
                </div>

                {{> sep}}

                <div class="col-12 my-4">
                    {{#each switch}}
                    {{#if isActive}}
                    <div class="form-check form-switch">
                        <label class="form-check-label">{{text}}</label>
                        <input type="checkbox" checked class="form-check-input">
                    </div>
                    {{else}}
                    <div class="form-check form-switch">
                        <label class="form-check-label">{{text}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/if}}
                    {{/each}}
                </div>

                {{/with}}
                {{/with}}

                {{> sep}}

                {{#with delivery}}

                {{> shopTitle}}

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            {{#each select}}
                            <div class="col-6">
                                <label class="form-label">{{label}}</label>
                                <select class="form-select" placeholder="{{placeholder}}">
                                    {{#each options}}
                                    <option value="{{value}}">{{text}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-4">
                    {{#each delivery_type}}
                    {{#if @first}}
                    <div class="form-check">
                        <label class="form-check-label">{{type}}</label>
                        <input name="delivery_type" type="radio" checked class="form-check-input">
                    </div>
                    {{else}}
                    <div class="form-check">
                        <label class="form-check-label">{{type}}</label>
                        <input name="delivery_type" type="radio" class="form-check-input">
                    </div>
                    {{/if}}
                    {{/each}}
                </div>

                {{> sep}}

                {{#with payment}}

                {{> shopTitle}}

                <div class="col-12 mt-4">
                    {{#each list}}
                    {{#if @first}}
                    <div class="form-check">
                        <label class="form-check-label">{{type}}</label>
                        <input name="paymentWay" type="radio" checked class="form-check-input">
                        <div class="ps-0 ms-0 form-text">{{description}}</div>
                    </div>
                    {{else}}
                    <div class="form-check">
                        <label class="form-check-label">{{type}}</label>
                        <input name="paymentWay" type="radio" class="form-check-input">
                        <div class="form-text">{{description}}</div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>

                {{/with}}

                {{> sep}}

                {{#with contact}}

                {{> shopTitle}}

                <div class="row g-3">
                    {{#with surname}}
                    {{> formContactData}}
                    {{/with}}
                    {{#with name}}
                    {{> formContactData}}
                    {{/with}}
                    {{#with phone}}
                    {{> formContactData}}
                    {{/with}}
                    {{#with email}}
                    {{> formContactData}}
                    {{/with}}
                </div>
                {{/with}}

                {{> sep}}

                {{#with coment}}
                <div class="col-12 my-4">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                </div>
                {{/with}}
                {{/with}}

                {{>sep}}

                {{#with coupon}}

                {{> shopTitle}}

                {{#with select}}

                {{#with availabel_coupon}}
                <div class="col-6">
                    <label class="form-label">{{label}}</label>
                    <select class="form-select form-select-lg">
                        <option value disabled selected>{{placeholder}}</option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/with}}

                {{#with friend_coupon}}
                <div class="col-6">
                    <label class="form-label">{{label}}</label>
                    <select class="form-select form-select-sm">
                        <option value disabled selected>{{placeholder}}</option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                    <div class="form-text">Caption text, description, error notification</div>
                </div>
                {{/with}}

                {{/with}}

                {{#with add}}
                {{#with friend}}
                <div class="col-12 my-4">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                </div>
                {{/with}}

                {{#with colleague}}
                <div class="col-10 my-4">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                </div>
                {{/with}}

                {{/with}}

                {{/with}}

                {{> sep}}

                {{#with quiz}}

                {{> shopTitle}}

                {{#with preference}}
                <div class="form-label">{{title}}</div>
                {{#each options}}
                {{#if @first}}
                <div class="form-check">
                    <label class="form-check-label">{{this}}</label>
                    <input name="devices" type="radio" checked class="form-check-input">
                </div>
                {{else}}
                <div class="form-check">
                    <label class="form-check-label">{{this}}</label>
                    <input name="devices" type="radio" class="form-check-input">
                </div>
                {{/if}}
                {{/each}}
                {{/with}}

                {{#with your_expirience}}
                <div class="col-12 mt-3">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control">
                </div>
                {{/with}}

                {{#with purchase_frequency}}
                <div class="col-12 my-3">
                    <label class="form-label">{{label}}</label>
                    <select class="form-select form-select-sm">
                        <option value disabled selected>{{placeholder}}</option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/with}}

                {{#with factors}}

                <div class="form-label">{{title}}</div>
                {{#each options}}
                {{#if @first}}
                <div class="form-check">
                    <label class="form-check-label">{{this}}</label>
                    <input name="factors" type="checkbox" checked class="form-check-input">
                </div>
                {{else}}
                <div class="form-check">
                    <label class="form-check-label">{{this}}</label>
                    <input name="factors" type="checkbox" class="form-check-input">
                </div>
                {{/if}}
                {{/each}}

                {{/with}}

                {{/with}}

            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {{#each action_block}}
                        {{#if isSuccess }}
                        <button class="btn btn-success">{{text}}</button>
                        {{/if}}
                        {{#if isDanger }}
                        <button class="btn btn-danger my-2 me-5">{{text}}</button>
                        {{/if}}
                        {{#if isInfo }}
                        <button class="btn btn-info">{{text}}</button>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        {{#with total}}
                        <h5>{{title}}</h5>
                        {{#each item_list}}
                        <div>{{name}}: {{price}}</div>
                        {{/each}}

                        {{> sep}}

                        {{#each additional_info}}
                        <div>{{text}}: {{value}}</div>
                        {{/each}}

                        {{> sep}}

                        {{#with total_price}}
                        <div>{{text}}: {{value}}</div>
                        {{/with}}

                        {{> sep}}

                        {{#each button}}
                        {{#if isPrimary}}
                        <button class="btn btn-primary my-1 px-2">{{text}}</button>
                        {{/if}}
                        {{#if isOutline }}
                        <button class="btn btn-outline-primary my-1">{{text}}</button>
                        {{/if}}
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                {{>sep}}
            </div>
    </section>

</main>